/* imports */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Gothic+A1:400,800);




/* global styles */

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
}

.big-container {
	width: 99%;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

.bigger-container {
	width: 95%;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

.spacer-100 {
	height: 100px;
}

.spacer-50 {
	height: 50px;
}


/* main header */
.main-header {
	padding-top: 10rem;
	padding-bottom: calc(10rem -72px);
	min-height: 650px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .8) 100%), url(src/../assets/img/image.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

.navbar-light span.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* change hamburger button border color  */
button.navbar-toggler.navbar-toggler-right {
	border-color: transparent;
}

.navbar {
	background: rgba(0, 0, 0, .1);
}

.scrolled {
	background: rgba(0, 0, 0, .9);
	box-shadow: 0px 15px 10px -15px #111;
	color: #F67280 !important;
	transition-duration: 500ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.navbar .navbar-brand {
	color: #ffffff !important;
}

.navbar .navbar-nav ul {
	margin-top: 20px;
}

.navbar .navbar-nav li a {
	font-size: 16px;
	font-weight: 550;
	color: #d4d4d4 !important;
}

.navbar .navbar-nav li a:hover {
	color: #F67280 !important;
	transition-duration: 300ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus {
	color: #F67280 !important;

}

.divider {

	border-width: 1px;
	border-color: #F67280 !important;
}

/* Styling team section */
#team {
	background-color: #2CCCC3;
}

.team-divider {
	/* width: 600px; */
	border-width: 2px;
	border-color: green !important;
}
/* end styling team section */

/* thinkGlobo map */
#globalFootPrint {
	background-color: #F5FBEF;
}

.btn {
	background: transparent;
	color: #fff;
	border: 1px solid #F67280;
	margin-right: 4px;
	margin-bottom: 4px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 5px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	padding: 8px 15px !important;
}

.btn:hover {
	background: #F67280;
	color: #fff;
	transition-duration: 300ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}


/* carousel */
#top-carousel img {
	height: 500px;
	width: 100%;
	object-fit: cover;

}

#top-carousel .slick-prev:before,
#top-carousel .slick-next:before {
	color: darkslategray !important;
}

/* map */

.map img {
	width: 100%;
	height: 620px;
}

/* Client logos */
.client-logos div {
	height: 100px;
}

#client .row {
	display: unset !important;
}

/* Testimonials */
.testimonials {
	background-color: #3d204c;
}


.testimonials h2 {
	color: white;
}

.ino-creative-impact img {
	max-width: 200px;
	max-height: 200px;
	align-self: center;
	padding: 15px 0;
}

.ino-creative-impact .card {
	border: 2px solid gray;
	border-radius: 3%
}


/* Styling clients section */

/* end clients section */


figure.snip1192 {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	overflow: hidden;
	margin: 10px auto;
	min-width: 220px;
	max-width: 310px;
	width: 100%;
	color: #333;
	text-align: left;
	box-shadow: none !important;
}

figure.snip1192 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

figure.snip1192 img {
	max-width: 100%;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-bottom: 15px;
	display: inline-block;
	z-index: 1;
	position: relative;
}

figure.snip1192 blockquote {
	margin: 0;
	display: block;
	border-radius: 8px;
	position: relative;
	background-color: #fafafa;
	padding: 30px 50px 65px 50px;
	font-size: 0.8em;
	font-weight: 500;
	margin: 0 0 -50px;
	line-height: 1.6em;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
	font-family: 'FontAwesome';
	content: "\201C";
	position: absolute;
	font-size: 50px;
	opacity: 0.3;
	font-style: normal;
}

figure.snip1192 blockquote:before {
	top: 35px;
	left: 20px;
}

figure.snip1192 blockquote:after {
	content: "\201D";
	right: 20px;
	bottom: 35px;
}

figure.snip1192 .author {
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}

figure.snip1192 .author h5 {
	opacity: 0.8;
	margin: 0;
	font-weight: 800;
}

figure.snip1192 .author h5 span {
	font-weight: 400;
	text-transform: none;
	display: block;
}

/* Adding media quaries for mobile purposes */
@media (min-width: 992px) {
	.navbar-light .nav-toggle {
		color: rgba(0, 0, 0, .5);
		border-color: rgba(0, 0, 0, .1);
	}
}

/* about section */

/* about */

#about {
	background-color: #fff;
}

#about h4 {
	margin-top: 5rem;
}

.about-content p {
	margin-top: 16px;
}

.social-list {
	margin-top: 20px;
	margin-bottom: 20px;
}

.social-list li {
	display: inline-block;
	margin: 4px;
}

.social-list li a {
	display: inline-block;
	font-size: 16px;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 36px;
	color: black;
	border: 1px solid black;
	border-radius: 50%;
}

.social-list li a:hover {
	background-color: black;
	color: white !important;
	transition-duration: 300ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* end about section */
/* Services */


#lorem1 {
	position: relative;
	background-color: #F8F9F9;
}

.s-line {
	margin: 12px auto 0;
	width: 55px;
	height: 1px;
	background-color: #000;
}

.service-content p {
	margin-top: 12px;
	font-size: 14px;
}

/* End services */

/* Media queries */

@media only screen and (max-width: 800px) {
	.map img {
		height: 400px;
	}
}

@media only screen and (max-width: 620px) {
	.map img {
		height: 250px;
	}
}

@media only screen and (min-width: 1470px) {
	.map img {
		height: 680px;
	}
}